<app-banner-carousel></app-banner-carousel>

<section class="product-section">
    <h2>Select a Product to Customize</h2>
    <div class="product-grid">
        <a routerLink="/products/tshirts" class="product-card">
            <img src="/assets/products/tshirt-landing.jpeg" alt="T-Shirts" />
            <p>T-Shirts</p>
        </a>
        <a routerLink="/products/mugs" class="product-card">
            <img src="/assets/products/mug-landing.jpeg" alt="Mugs" />
            <p>Mugs</p>
        </a>
        <a routerLink="/products/calendars" class="product-card">
            <img src="/assets/products/calender-landing.jpeg" alt="Calendars" />
            <p>Calendars</p>
        </a>
    </div>
</section>

<!-- Highlighted Features Section -->
<app-feature-highlight></app-feature-highlight>

<!-- Add Footer here -->
<app-footer></app-footer>